
body {
	background-color: #dcdcdc;
}

.main {
	width: 90%;
	margin: 50px auto;
	padding: 5px;
}

.main .tittle h2 {
	color: #ED5323;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

.main .contain {
	background-color: white;
	border-radius: 7px;
	padding-bottom: 30px;
	margin-top: 30px;
}

.main .contain table {
	margin-left: 25px;
	height: 562px;
	padding-top: 35px;
	border-collapse:collapse;
	margin-bottom: 20px;
}
	

.main .contain table tr {
	width: 1200px;
	border-bottom: 1px solid #14274A;
}


.main .contain table tr th {
	font-size: 20px;
	color: #14274A;
	padding-bottom: 10px;
	padding-top: 30px;
	text-align: center;
}

.main .contain table tr td {
	text-align: center;
	padding: 10px;
}

.main .contain table tr td .cont-left {
	width: 180px;
	float: left;
}

.main .contain table tr td .cont-left a img{
	width: 150px;
	height: 150px;
}

.main .contain table tr td .cont-right {
	width: 220px;
	float: right;
	padding-right: 40px;
}

.main .contain table tr td .cont-right h4 {
	margin-top: 30px;
	margin-bottom: 15px;
}

.main .contain table tr td .cont-right h4 a{
	text-decoration: none;
	font-size: 18px;
	color: #14274A;
}

.main .contain table tr td .cont-right p{
	font-size: 16px;
	line-height: 19px;
	color: #5C6C78;
	margin-bottom: 5px;
	text-align: left;
	padding-left: 4px;
}

.main .contain .count-left {
	margin-bottom: 15px;
}

.main .contain .count-left p {
	padding-left: 30px;
	font-style: italic;
	font-size: 20px;
	font-weight: bold;
	color: #14274A;
}

.count-right a {
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	font-size: 23px;
	background-color: #ED5323;
	color: white;
	float: right;
	margin-right: 55px;
}

.price {
	color: #ED5323;
	text-align: center;
	font-size: 20px;
}

.tang {
	padding: 5px 6px;;
	border: 1px solid black;
}

.number {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px 15px;
}

.edit {
	margin-right: 15px;
}

.clr {
	clear: both;
}