.main {
	width: 90%;
	margin: 50px auto;
	padding: 5px;
}

.main .tt {
	padding-left: 20px;
	margin-bottom: 30px;
}

.main .tt a {
	text-decoration: none;
	color: #ED5323;
	font-size: 18px;
}

.main .title {
	background-color: white;
	margin-bottom: 30px;
	border-radius: 7px;
	padding: 10px 0px;
}

.main .title .title-left {
	float:  left;
	padding-left: 20px;
}

.main .title .title-left h3 {
	color: #d21809;
	margin-left:  10px;
}

.main .title .title-right {
	float: right;
    width: 600px;
    padding-top: 10px;
}

.main .title .title-right a{
	text-decoration: none;
	font-size: 20px;
	color: #14274A;
	border: 1px solid #ED5323;
	padding:  5px 20px;
}

.main .content {
	background-color: white;
	border-radius: 7px;
	padding: 30px;
}

.main .content h3 {
	width: 230px;
	margin-bottom: 20px;
}

.main .content h3 a {
	padding-right: 100px;
	font-size: 20px;
	color: #ED5323;
	text-decoration: none;
	border-bottom: 2px solid #ED5323;
}

.main .content .list {
	width: 800px;
	margin-left: 250px;
}

.main .content .list li {
	padding-bottom: 15px;
	margin-bottom: 30px;
	border-bottom: 1px solid #BFBFBF;
}

.main .content .list li .cont {
	display: block;
}

.main .content .list li .cont:hover {
	text-decoration: none;
}

.main .content .list li .cont .cont-left{
	width: 270px;
	float: left;
}

.main .content .list li .cont .cont-left img{
	width: 270px;
	height: 170px;
}

.main .content .list li .cont .cont-right{
	width: 500px;
	float: right;
}

.main .content .list li .cont .cont-right h4{
	margin-top: 4px;
	margin-bottom: 5px;
	text-decoration: none;
	font-size: 18px;
	color: #14274A;
}

.main .content .list li .cont .cont-right p{
	color: black;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 10px;
	padding-left: 0px;
}

.main .menuu p{
	width: 100px;
	float: right;
	padding-bottom: 20px;
	margin-right: 90px;
}


.main .menuu p a {
	text-decoration: none;
	color: black;
	font-size: 18px;
	padding-right: 3px;
}

.time {
	color: #C6C6CC;
	font-size: 16px;
	padding-right: 5px;
	margin-bottom: 10px;
}

.date {
	color: #C6C6CC;
	font-size: 16px;
	margin-bottom: 10px;
}

.ngoac {
	color: #ED5323;
}

.clr {
	clear: both;
}
