* {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 18px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

p {
	margin-bottom: 5px;
}

.header {
	width: 100%;
	height: 120px;
	background-color: #d21809;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0px 20px 0px 20px;
}

.header .logo img{
	width: 100px;
	height: 103px;
}

.header .slogan {
	font-size: 18px;
	color: white;
	line-height: 10px;
}

.header .find .search-box input {
	width: 370px;
    height: 40px;
    border: 2px solid #14274A;
    border-radius: 5px 0px 0px 5px;
    float: left;
    padding-left: 15px;
    font-size: 18px;
}

.header .find .search-box button {
	width: 50px;
	height: 40px;
	font-size: 25px;
	background-color: #14274A;
	border-radius: 0px 5px 5px 0px;
	color: white;
}

.header .login-cart a {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	color: white;
}

.header .login-cart li a {
	color: black;
}

.header .login-cart a span {
	margin: auto;
	margin-bottom: 8px;
}

.header .login-cart a:hover {
	text-decoration: none;
}

.menu {
	width: 100%;
	padding: 15px 10px 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #14274A;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.menu .menu-item {
	height: 35px;
	margin-right: 50px;
	padding: 3px 10px 0px 10px;
}

.menu div a {
	text-decoration: none;
	color: white;
}

.menu .dropdown-menu.show {
	background-color: white;
	color: black;
	width: 230px;
}

.menu .dropdown-item:focus, .menu .dropdown-item:hover {
	color: black;
    text-decoration: none;
    background-color: #fffb82;
    padding: 5px 15px 5px 20px;
}


.menu li a {
	color: black;
}

.menu .menu-item a:hover {
	color: grey;
}

.footer {
	width: 100%;
	height: 250px;
	background-color: #14274A;
	display: flex;
	justify-content: space-around;
}

.footer .khoi {
	width: 250px;
	margin: 30px;
	color: white;
}

.footer .khoi h4 {
	margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.footer .khoi a {
	text-decoration: none;
	color: white;
}

.footer .khoi a:hover {
	margin-left: 5px;
	transition: 1s;
}

.footer input[type="text"] {
	height: 34px;
	margin: 10px 0px 0px 0px;
	border-radius: 4px 0px 0px 4px;
}
.footer button {
	height: 34px;
	margin: 10px 0px 0px 0px;
	border-radius: 0px 4px 4px 0px;
	background-color: #d21809;
    color: white;
    padding: 3px;
}

.main-block {
	background-color: gainsboro;
	padding: 40px 0px 40px 0px;
}

.main-block .content {
	width: 90%;
	margin: auto;
}

.main-block .content .banner img {
	width: 100%;
}

.main-block .content .product-block {
	margin-top: 30px;
	margin-bottom: 30px;
}

.main-block .content .product-block .product {
	height: auto;
	display: flex;
	flex-direction: column;
	background-color: white;
    border-radius: 10px;
	margin-bottom: 30px;
}

.main-block .content .product-block .product .title-block {
	display: flex;
	padding: 15px;
}

.main-block .content .product-block .product .title-block .title {
	font-size: 20px;
	padding-bottom: 10px;
	width: 40%;
	margin-right: 20%;
	font-weight: bold;
	color: #d21809;
	border-bottom: 2px solid;
}

.main-block .content .product-block .product .title-block .kind {
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.main-block .content .product-block .product .title-block .kind a {
	color: #d21809;
	font-size: 18px;
}

.main-block .content .product-block .product .title-block .kind a:hover {
	transform: scale(1.1);
	text-decoration: none;
	font-weight: 500px;
}

.main-block .content .product-block .product .card-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 10px 20px 20px 20px;
}

.main-block .content .product-block .product .card-list .card {
	width: 270px;
	height: 410px;
	cursor: pointer;
}

.main-block .content .product-block .product .card-list .card .card-title {
	text-align: center;
    margin-top: 5px;
}

.main-block .content .product-block .product .card-list .card:hover {
	transform: scale(1.01);
	box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
}

.main-block .content .product-block .product .card-list .card .card-img-top {
	width: 70%;
	height: 40%;
	margin: auto;
}

.main-block .content .product-block .product .card-list .card-body {
	padding: 0px 15px 0px 20px;
}

.main-block .content .product-block .product .card-list .card .card-text {
	margin-bottom: 38px;
	font-size: 15px;
}

.main-block .content .product-block .product .card-list .card .gia-goc {
	position: relative;
    top: 10px;
    left: 85px;
    color: #d21809;
    text-decoration: line-through;
	font-size: 18px;
	font-weight: bold;
}

.main-block .content .product-block .product .card-list .card .gia-km {
	position: absolute;
    display: block;
	font-size: 18px;
	font-weight: 10px;
}

.login-block {
	background-image: url("../images/commons/nen-login.jpg");
	background-repeat: round;
	width: 100%;
	height: 800px;
    opacity: 0.7;
}

.login-block #login .container #login-row #login-column #login-box {
	margin-top: 120px;
	max-width: 600px;
	height: auto;
	padding-bottom: 30px;
	border: 1px solid #8b8686;
	background-color: #EAEAEA;
}

.login-block #login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
}

.login-block #login .container .text-inf {
	color: #d21809;
}

.login-block #login .container .text-center.text-inf {
	margin-bottom: 30px;
}

.login-block #login .container #login-row #login-column #login-box #login-form #register-link {
	margin-top: -85px;
}
